{{template "template/backstagetemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}
<div class="pageheader">
                                    <div style="font-size:12px;width:100%;color:#666;";><b>说明：</b>团队账号是虚拟账号，可以帮助公司部门可以把公司信息部同事或者网络管理员设为云之家的管理员，团队账号是虚拟账号，可以帮助公司部门可以把公司信息部同事或者网络管理员设为云之家的管理员</div>
        </div><!--pageheader-->

        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">

                            <div id="meeting_tabs">

                                <div id="tabs_container">
 
                                    <div class="pane" id="tabs_jx" style="width:98%;margin:10px auto;">
                                        <div class="suoding_it">
                                            <input type="radio" name="" >
                                            锁定用户基本信息（包括真实姓名、职位、部门、生日、加入公司日期、手机），只有管理员能修改。

                                        </div>
                                    <span class="creatmeetingbtn" style="margin-left:30px;float: none"><a style="padding:5px 20px;" href="#">保存</a></span>


                                    </div>


                                </div><!--End tabs container-->
                                
                            </div><!--End tabs-->




    

                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
{{end}}
        
