{{template "template/socialtemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}
<div class="pageheader">

         <span class="creatmeetingbtn"><a href="#">写新信息</a></span>

         <form style="float:right;">
           <input type="submit" class="addbtn fr" value="搜索" />
           <input type="text" class="addinput" placeholder="输入搜索内容" />

         </form>

        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                    <div id="dashboard-left" class="span8">
                        <div id="meeting_tabs">

                                <div id="tabs_container">
                                    

                                    <div  class="pane" id="tabs_jx" style="width:98%;margin:10px auto;">
                                    <table style="width:100%" class="main_meeting_table">
                                        <tr class="main_meeting sixinhover">
                                        <td align="center" style="border-right:none;"  width="6%"><div class="ztais aite"></div></td>
                                            <td style="border-right:none;" width="64%">
                                            <a href="#" class="meeting_a_thime">
                                                <div class="fl"> <img src="static/newstyle/images/nohead.png" border="0" /></div>
                                                <div class="fl mt3 ml10">
                                                  <div class="mywork">张三</div>
                                                  <div class="clear"></div>
                                                  <div class="meet_time">当代活雷锋</div>
                                                </div>
                                             </a>

                                            </td>
                                            <td align="center" class="righthovers" width="30%">2014-09-09 13:44</td>
                                        </tr>
                                        <tr class="main_meeting sixinhover">
                                        <td align="center" style="border-right:none;"  width="6%"><div class="ztais xinfeng"></div></td>
                                            <td style="border-right:none;" width="64%">
                                            <a href="#" class="meeting_a_thime">
                                                <div class="fl"> <img src="static/newstyle/images/nohead.png" border="0" /></div>
                                                <div class="fl mt3 ml10">
                                                  <div class="mywork">张三</div>
                                                  <div class="clear"></div>
                                                  <div class="meet_time">当代活雷锋</div>
                                                </div>
                                             </a>

                                            </td>
                                            <td align="center" class="righthovers" width="30%">2014-09-09 13:44</td>
                                        </tr>
                                    </table>


                                    </div>



                                </div><!--End tabs container-->
                                
                            </div><!--End tabs-->
                     </div>

                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
{{end}}