{{template "template/socialtemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}
<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#meeting_tabs ul li').click(function(){
        jQuery(this).addClass('tabulous_active').siblings().removeClass('tabulous_active');
        jQuery('#tabs_container>.pane:eq('+jQuery(this).index()+')').show().siblings().hide();   
    })

})


</script>

<div class="pageheader_dt">
            <div class="lefthead_img">
                <a href="#"><img src="static/newstyle/images/righthead.jpg"></a>
            </div>
            <div class="right_dtai_info">
               <div class="dt_rel_name">某某某  <span class="leave_x"><i class="fa fa-clock-o"></i>离线</span></div>
               <div class="commen_one_tr">粉丝：99 &nbsp;&nbsp;&nbsp;关注：999&nbsp;&nbsp;&nbsp;微博：900</div>
               <div class="commen_one_tr">邮箱：213123123@163.com</div>
               <div class="commen_one_tr">手机：156898888888</div>
               <div class="commen_one_tr">
               <a href="#" class="add_addbtn"><span class="fa fa-plus"></span> 加关注</a>
               <a href="#" class="add_addbtn"><span class="fa fa-arrow-right"></span> 发短邮</a>
               <a href="#" class="add_addbtn"><span class="fa fa-newspaper-o"></span> 工作名片</a>

               </div>

            </div>


        </div><!--pageheader-->
        <div class="maincontent">
            <div class="maincontentinner">
            <div class="row-fluid">
                    <div id="dashboard-left" class="span8" style="width:75%;">
                        <div id="meeting_tabs">
                                <ul>
                                    <li class="tabulous_active"><a href="#tabs_jx" title="">TA的动态</a></li>
                                    <li><a href="#tabs_notstart" title="">关注</a></li>
                                    <li><a href="#tabs-finish" title="">粉丝</a></li>
                                </ul>

                                <div id="tabs_container">
                                    

                                    <div  class="pane" id="tabs_jx" style="width:98%;margin:10px auto;">
                                    <div class="publish_list">
                                        <div class="lefthead">
                                            <img src="static/newstyle/images/nohead.png" />
                                        </div>
                                        <div class="wbpublish">
                                           <div><a href="#">张三</a></div>
                                           <p>今天上午10点有会，大家不要迟到啊！</p>
                                           <div class="opetate_zz"><a href="#">赞</a> <a>▪</a><a href="#">评论</a><a>▪</a><a href="#">分享</a><a>▪</a><a class="fb_time">50秒前</a></div>
                                        </div>

                                    </div>

                                    <div class="publish_list">
                                        <div class="lefthead">
                                            <img src="static/newstyle/images/nohead.png" />
                                        </div>
                                        <div class="wbpublish">
                                           <div><a href="#">张三</a></div>
                                           <p>今天上午10点有会，大家不要迟到啊！</p>
                                           <div class="opetate_zz"><a href="#">赞</a> <a>▪</a><a href="#">评论</a><a>▪</a><a href="#">分享</a><a>▪</a><a class="fb_time">50秒前</a></div>
                                        </div>

                                    </div> 


                                    </div>

                                    <div class="pane" id="tabs_notstart" style="width:98%;margin:10px auto;display: none;">关注
    
                                
                                    </div>

                                    <div class="pane" id="tabs-finish" style="width:98%;margin:10px auto;display: none;">粉丝

                                    </div>

 
                                </div><!--End tabs container-->
                                
                            </div><!--End tabs-->
                     </div>
                     <div class="right_contract">
                       <div class="right_title_dt">TA的关注</div>
                       <div class="dt_content">asdasdasd关注的内他说的</div>
                       <div class="right_title_dt" style="margin-top:30px;">TA的粉丝</div>
                       <div class="dt_content">谁能成为你的粉丝？</div>
                       <div class="right_title_dt" style="margin-top:30px;">TA的小组</div>
                       <div class="dt_content">dev</div>

                     </div>
                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
{{end}}
