{{template "template/maintemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}
<div class="pageheader">
            <div class="pageicon"><span class="fa fa-user"></span></div>
            <div class="pagetitle">
                <h5>Change password</h5>
                <h1 style="margin-top:6px;">修改密码</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid" style="min-height:500px;">
                 <form>
                 <table class="changepassword_table">
                     <tr>
                         <td align="right">原始密码：</td>
                         <td align="left"><input type="password" /></td>
                     </tr>
                     <tr>
                         <td align="right">新密码：</td>
                         <td align="left"><input type="password" /></td>
                     </tr>
                     <tr>
                           <td align="right">确认密码：</td>
                         <td align="left"><input type="password" /></td>
                     </tr>
                     <tr>
                         <td>&nbsp;</td>
                         <td><a href="#" class="add_addbtn"> 确定</a></td>
                     </tr>
                 </table>


                 </form>
            
  




    

                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
{{end}}