{{template "template/maintemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}
<script type="text/javascript" src="static/newstyle/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
jQuery(function(){
	
	jQuery(".registerform").Validform({
		tiptype:2
	});
})
</script>
<style>
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}

.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(static/newstyle/images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(static/newstyle/images/onLoad.gif) no-repeat left center;
}
input.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
</style>
<div class="pageheader">
            <div class="pageicon"><span class="fa fa-user"></span></div>
            <div class="pagetitle">
                <h5>Change password</h5>
                <h1 style="margin-top:6px;">修改密码</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid" style="min-height:500px;">
                 <form class="registerform" action="/changepassword" method="post">
                 <table class="changepassword_table">
                     <tr>
                         <td align="right">原始密码：</td>
                         <td align="left"><input type="password" name="oldpassword" datatype="*6-16" nullmsg="请填写密码！" errormsg="密码范围在6~16位之间！" /></td>
						 <td><div class="Validform_checktip"></div></td>
                     </tr>
                     <tr>
                         <td align="right">新密码：</td>
                         <td align="left"><input type="password" name="userpassword" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！" /></td>
						<td><div class="Validform_checktip"></div></td>
                     </tr>
                     <tr>
                           <td align="right">确认密码：</td>
                         <td align="left"><input type="password" name="userpassword2" datatype="*" recheck="userpassword" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！" /></td>
						<td><div class="Validform_checktip"></div></td>
                     </tr>
                     <tr>
                         <td>&nbsp;<span style="color:red">{{.err}}</span></td>
                         <td><input type="submit" class="add_addbtn" value="确定" /></td>
						<td>&nbsp;</td>
                     </tr>
                 </table>


                 </form>
            
  




    

                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
{{end}}