{{template "template/maintemplate.html" .}}
{{define "head"}}

{{end}}
{{define "body" }}

<script type="text/javascript" src="static/newstyle/js/tools.js"></script>        
<div class="pageheader">
            <!--form action="results.html" method="post" class="searchbar">
                <input type="text" name="keyword" placeholder="输入搜索内容搜索..." />
            </form-->
            <div class="pageicon"><span class="fa fa-user"></span></div>
            <div class="pagetitle">
                <h5>My account</h5>
                <h1 style="margin-top:6px;">我的账号</h1>
            </div>
        </div><!--pageheader-->
        <link rel="stylesheet" href="static/newstyle/css/cloud.css">
        <style type="text/css">.icon_p{overflow: hidden;}
        .quxiao_btn,.jyquxiao_btn{background-color: #ccc;margin-left: 15px;}
        .quxiao_btn:hover,.jyquxiao_btn:hover{background-color: #ddd;}
		.addbtn{padding:5px 15px;}
		.deleteaction{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";filter: alpha(opacity=0.5);opacity:0.5;line-height:1.5;margin-right:10px;margin-top:5px;float:right;}
		.deleteaction:hover{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.9)";filter: alpha(opacity=0.9);opacity:0.9;}
		.deleteaction img{vertical-align:middle;}
		textarea{resize:none;}
		.editprofileform label{padding-top:0px;}
        </style>
        <div class="maincontent">
            <div class="maincontentinner">
              <div class="row-fluid">
                     <div class="span4 profile-left">
                        
                        <div class="widgetbox profile-photo">
                            <div class="headtitle">
                               <div class="right_edit_icon">
                                        <a class="fa fa-pencil" href="changehead.html"></a>
                                     </div>
                                <h4 class="widgettitle">我的头像</h4>
                            </div>
                            <div class="widgetcontent">
                                <div class="profilethumb">
                                    <img src="static/newstyle/images/profilethumb.png" alt="" class="img-polaroid" />
                                </div><!--profilethumb-->
                            </div>
                        </div>
                            
                            
                        <div class="widgetbox tags">
                                   <div class="headtitle">
                                         <div class="right_edit_icon" id="zhich_info">
                                            <a class="fa fa-plus" href="javascript:void(0)"></a>
                                         </div>
                                        <h4 class="widgettitle">职业信息</h4>
                                     </div>
                       <div class="widgetcontent">
                        <table style="width:100%;">  
                            <tbody id="fileList"> 
                              <tr style="display:none;" class="zhich_tr_new">
                                <td>
                                     <p class="icon_p">
									        <input type="hidden" id="Lc_experKind_zy" name="Lc_experKind"  value="2" />
									        <input type="hidden" id="Lc_unitType_zy" name="Lc_unitType"  value="2" />
                                            <label class="left_name" style="width:70px;">公司名称:</label>
                                            <input class="right_input" type="text" id="Lc_unitName_zy" name="Lc_unitName"  value="" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">职位头衔:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">工作地点:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">在职时间:</label>
                                            <input class="right_input" type="date" id="Lc_beginTime_zy" name="Lc_beginTime"  value="" />
                                     </p>
                                      <p class="icon_p">
                                            <label class="left_name" style="width:70px;">至</label>
                                            <input class="right_input" type="date" id="Lc_endTime_zy" name="Lc_endTime"   value="" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">简单描述:</label>
                                            <textarea  class="right_input" name="" class="span8"></textarea>
                                     </p>
                                       <p class="icon_p tl_r">
                                           <input type="button" class="addbtn fr quxiao_btn zc_qx " value="取消" />
                                           <input type="button" class="addbtn fr save_edu2" id="zy_addnew_exp" value="保存" />
                                           <label style="color:red;float:right;margin-right: 10px;margin-top:1px;display: none;">保存成功!</label>
                                        </p>
                                </td>
                            </tr>

                          {{range $key, $val := .userExpe}}
                           {{if eq $val.Lc_experKind 2}}
                              <tr>
                                <td class="filename ui-draggable ui-droppable" style="width:100%; height:45px;border:none;">
                                <span class="nametext" style="left:0;width:100%;height:auto;background-color:#f2f2f2;max-width:100%;">
                                      <div class="list_workinfo"> 
                                             <div><span class="thestarttimes" data_num="{{$val.Lc_beginTime}}"></span>-<span class="theendtimes" data_num="{{$val.Lc_endTime}}"></span></div>
                                             <div title="{{$val.Lc_unitName}}">{{$val.Lc_unitName}}</div>
                                             <div title="职位啊啊啊啊啊">职位啊啊啊啊啊</div>
                                        </div>
                                     </span>
                                        <span class="fileactions" style="margin-top:-15px;">
                                            <a href="javascript:void(0)" class="action action-share changeedu">
                                                <img class="svg" src="static/newstyle/images/svg/rename.svg">
                                                <span>修改</span>
                                            </a>
                                        </span>
                                </td>
                            </tr>
                              <tr style="display:none;">
                                <td>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">公司名称:</label>
                                            <input class="right_input" type="text" name=""  value="{{$val.Lc_unitName}}" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">职位头衔:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">工作地点:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">在职时间:</label>
                                            <input class="right_input ziye_starttime" type="date" name="" datavalue="{{$val.Lc_beginTime}}"  value="" />
                                     </p>
                                      <p class="icon_p">
                                            <label class="left_name" style="width:70px;">至</label>
                                            <input class="right_input ziye_endtime" type="date" name="" datavalue="{{$val.Lc_endTime}}"  value="" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name" style="width:70px;">简单描述:</label>
                                            <textarea  class="right_input" name="" class="span8"></textarea>
                                     </p>
                                       <p class="icon_p tl_r">
                                           <input type="button" class="addbtn fr quxiao_btn save_edu" value="取消" />
                                           <input type="button" class="addbtn fr " value="保存" />
                                            <a href="#" class="deleteaction">
                                                <img class="svg" src="static/newstyle/images/svg/delete.svg">
                                                <span>删除</span>
                                            </a>
                                        </p>
                                </td>
                            </tr>
							 {{end}}
                          {{end}}
                        </tbody>
                        </table>  

                                    </div>

                        </div>
                            
                        </div><!--span4-->
                        <div class="span8">
                            <form action="#" class="editprofileform" method="post">
                                
                                <div class="widgetbox login-information">
                                 <div class="headtitle">
                                     <div class="right_edit_icon" id="contractinfos">
                                        <a class="fa fa-pencil" href="javascript:void(0)"></a>
                                     </div>
                                    <h4 class="widgettitle">联系信息</h4>
                                 </div>
                                    <div class="widgetcontent">
                                        <p class="icon_p">
                                           <span class="left_icon fa fa-mobile" style="font-size:50px;text-indent:5px;"></span>
                                           <span class="inner_wz" id="Lc_mobilePhone1_label">{{.userinfoex.Lc_mobilePhone1}}</span>

                                        </p>
                                         <p class="icon_p">
                                           <span class="left_icon fa fa fa-qq"></span>
                                           <span class="inner_wz" id="Lc_qq_label">{{.userinfoex.Lc_qq}}</span>

                                        </p>
                                        <p class="icon_p">
                                           <span class="left_icon fa fa-weixin"></span>
                                           <span class="inner_wz" id="Lc_weixin_label">{{.userinfoex.Lc_weixin}}</span>

                                        </p>
                                         <p class="icon_p">
                                           <span class="left_icon fa fa-weibo"></span>
                                           <span class="inner_wz" id="Lc_weibo_label">{{.userinfoex.Lc_weibo}}</span>

                                        </p>
                                    </div>
                                    <div class="widgetcontent"  style="display:none;">
                                        <p class="icon_p">
                                           <span class="left_icon fa fa-mobile" style="font-size:50px;text-indent:5px;"></span>
                                           <span class="inner_wz"><input type="text" value="{{.userinfoex.Lc_mobilePhone1}}" id="Lc_mobilePhone1" placeholder="手机号码" /></span>

                                        </p>
                                         <p class="icon_p">
                                           <span class="left_icon fa fa fa-qq"></span>
                                           <span class="inner_wz"><input type="text" value="{{.userinfoex.Lc_qq}}" id="Lc_qq" placeholder="QQ号码" /></span>

                                        </p>
                                        <p class="icon_p">
                                           <span class="left_icon fa fa-weixin"></span>
                                           <span class="inner_wz"><input type="text" value="{{.userinfoex.Lc_weixin}}" id="Lc_weixin"  placeholder="微信号" /></span>

                                        </p>
                                         <p class="icon_p">
                                           <span class="left_icon fa fa-weibo"></span>
                                           <span class="inner_wz"><input type="text" value="{{.userinfoex.Lc_weibo}}" id="Lc_weibo"  placeholder="微博" /></span>

                                        </p>
                                         <p class="icon_p tl_r">
                                           <input type="button" class="addbtn" value="保存" id="savecontactbtn" style="float:right;" />
                                           <label id="savecontactbtnstatus" style="color:red;float:right;margin-right: 10px;margin-top:1px;display:none;"></label>
                                        </p>
                                    </div>
                                </div>
                                
                                
                                <div class="widgetbox personal-information">
                                     <div class="headtitle">
                                         <div class="right_edit_icon" id="main_infos">
                                            <a class="fa fa-pencil" href="javascript:void(0)"></a>
                                         </div>
                                        <h4 class="widgettitle">基本信息</h4>
                                     </div>
                                    <div class="widgetcontent" style="display:none;">
                                        <p class="icon_p">
                                            <label>账号:</label>
                                            <span>{{.userinfo.Lc_email}}</span>
                                        </p>
                                        <!--p class="icon_p">
                                            <label>类型:</label>
                                            <select>
                                                <option>个人</option>
                                                <option>企业</option>
                                            </select>
                                        </p-->
                                        <p class="icon_p">
                                            <label>性别:</label>
											{{if eq .userinfo.Lc_sex  "男"}}
                                            <input type="radio" name="sax" checked="checked" value="男"/>
											{{else}}
                                            <input type="radio" name="sax" value="男"/>
											{{end}}
											&nbsp;&nbsp;男
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											
											{{if eq .userinfo.Lc_sex  "女"}}
                                            <input type="radio" name="sax" checked="checked" value="女"/>
											{{else}}
                                            <input type="radio" name="sax" value="女" />
											{{end}}
                                            &nbsp;&nbsp;女
                                        </p>
                                        <p class="icon_p">
                                            <label>生日:</label>
                                            <input type="date" name="website" id="Lc_birthday" value="{{.userinfoex.Lc_birthday}}" />
                                        </p>
                                        <p class="icon_p">
                                            <label>语言:</label>
											<select value="{{.userinfoex.Lc_language}}" id="Lc_language">
                                                <option value="中文">中文</option>
                                                <option value="英语">英语</option>
                                                <option value="日语">日语</option>
                                                <option value="朝鲜语">朝鲜语</option>
                                                <option value="法语">法语</option>
                                                <option value="西班牙语">西班牙语</option>
                                                <option value="泰语">泰语</option>
                                                <option value="阿拉伯语">阿拉伯语</option>
                                                <option value="俄语">俄语</option>
                                                <option value="葡萄牙语">葡萄牙语</option>
                                            </select>
                                        </p>
                                        <p class="icon_p">
                                            <label>简介:</label>
                                            <textarea name="about" class="span8" id="Lc_introduction">{{.userinfo.Lc_introduction}}</textarea>
                                        </p>
                                       <p class="icon_p tl_r">
                                           <input type="button" class="addbtn" value="保存" style="float:right;" id="savebasebtn"/>
                                           <label style="color:red;float:right;margin-right: 10px;margin-top:1px;" id="savebasebtnstatus"></label>
                                        </p>
                                    </div>
                                    <div class="widgetcontent">
                                        <p class="icon_p">
                                            <label>账号:</label>
                                            <span>{{.userinfo.Lc_email}}</span>
                                        </p>
                                        <!--p class="icon_p">
                                            <label>类型:</label>
                                          <span>个人</span>
                                        </p-->
                                        <p class="icon_p">
                                            <label>性别:</label>
                                             <span id="Lc_sex_label">{{.userinfo.Lc_sex}}</span>
                                        </p>
                                        <p class="icon_p">
                                            <label>生日:</label>
                                            <span id="Lc_birthday_label"></span>
                                        </p>
                                        <p class="icon_p">
                                            <label>语言:</label>
                                            <span id="Lc_language_label">{{.userinfoex.Lc_language}}</span>
                                        </p>
                                        <p class="icon_p">
                                            <label>简介:</label>
                                             <span id="Lc_introduction_label">{{.userinfo.Lc_introduction}}</span>
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="widgetbox profile-notifications">
                                           <div class="right_edit_icon" id="addnew_edu">
                                            <a class="fa fa-plus" href="javascript:void(0)"></a>
                                         </div>
                                    <h4 class="widgettitle">教育信息</h4>
                       <div class="widgetcontent">
                        <table style="width:100%;">  
                            <tbody id="fileList"> 
                              <tr style="display:none;" class="new_edulist">
                                <td>
                                   <p class="icon_p">
                                            <label class="left_name">学校名称:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name">所学专业:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name">入学时间:</label>
                                            <input class="right_input" type="date" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name">毕业时间:</label>
                                            <input class="right_input" type="date" name=""  value="" />
                                     </p>
                                       <p class="icon_p tl_r">
                                           <input type="button" class="addbtn fr jyquxiao_btn jy_qx" value="取消" />
                                           <input type="button" class="addbtn fr save_edu2" value="保存" />
                                           <label style="color:red;float:right;margin-right: 10px;margin-top:1px;display: none;">保存成功!</label>
                                        </p>
                                </td>
                            </tr> 
							{{range $key, $val := .userExpe}}
							 {{if eq $val.Lc_experKind 1}}
                              <tr>
                                <td class="filename ui-draggable ui-droppable" style="width:100%; height:45px;border:none;">
                                <span class="nametext" style="left:0;width:100%;height:auto;max-width:100%;">
                                      <p class="list_educate"> 
                                             <span class="thestarttimes" data_num="{{$val.Lc_beginTime}}"></span><span>-</span><span class="theendtimes" data_num="{{$val.Lc_endTime}}"></span>
                                             <span>{{$val.Lc_unitName}}</span>
                                             <span>某某专业</span>
                                        </p>
                                     </span>
                                        <span class="fileactions" style="margin-top:6px;">
                                            <a href="javascript:void(0)" class="action action-share changeedu">
                                                <img class="svg" src="static/newstyle/images/svg/rename.svg">
                                                <span>修改</span>
                                            </a>
                                            <a href="#" class="action action-download" data-action="Download">
                                                <img class="svg" src="static/newstyle/images/svg/delete.svg">
                                                <span>删除</span>
                                            </a>
                                        </span>
                                </td>
                            </tr>
                              <tr style="display:none;">
                                <td>
                                   <p class="icon_p">
                                            <label class="left_name">学校名称:</label>
                                            <input class="right_input" type="text" name=""  value="{{$val.Lc_unitName}}" />
                                        </p>
                                     <p class="icon_p">
                                            <label class="left_name">所学专业:</label>
                                            <input class="right_input" type="text" name=""  value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name">入学时间:</label>
                                            <input class="right_input ziye_starttime" type="date" name=""  datavalue="{{$val.Lc_beginTime}}"   value="" />
                                     </p>
                                     <p class="icon_p">
                                            <label class="left_name">毕业时间:</label>
                                            <input class="right_input ziye_endtime" type="date" name=""   datavalue="{{$val.Lc_endTime}}"  value="" />
                                     </p>
                                       <p class="icon_p tl_r">
                                           <input type="button" class="addbtn fr quxiao_btn save_edu" value="取消" />
                                           <input type="button" class="addbtn fr " value="保存" />
                                        </p>
                                </td>
                            </tr>
							 {{end}}
                          {{end}}

                        </tbody>
                        </table>  

                                    </div>
                                </div>
                                
                                
                            </form>
                        </div><!--span8-->




    

                </div><!--tabbedwidget-->
                        
                
                {{template "template/footer.html"}}
                
            </div><!--maincontentinner-->
<script type="text/javascript">
//字符串去掉空格函数
function trim(text)
{
  if (typeof(text) == "string")
  {
    return text.replace(/^\s*|\s*$/g, "");
  }
  else
  {
    return text;
  }
}

jQuery(document).ready(function(){
	jQuery('#lef_nav li').removeClass("active");
    jQuery('#lef_nav li')[2].className = "active";
    jQuery("#contractinfos").click(function(){
		jQuery('#savecontactbtnstatus').hide();
        if(jQuery(this).parent().next().is(":hidden")){
            jQuery(this).parent().next().show();
            jQuery(this).parent().next().next().hide();
        }else{
            jQuery(this).parent().next().hide();
            jQuery(this).parent().next().next().show();  
        }

    })

    jQuery("#main_infos").click(function(){
        if(jQuery(this).parent().next().is(":hidden")){
            jQuery(this).parent().next().show();
            jQuery(this).parent().next().next().hide();
        }else{
            jQuery(this).parent().next().hide();
            jQuery(this).parent().next().next().show();  
        }
    })

    jQuery(".changeedu").click(function(){
        jQuery(this).parent().parent().parent().hide();
        jQuery(this).parent().parent().parent().next().show();
    })
    jQuery(".save_edu").click(function(){
        jQuery(this).parent().parent().parent().hide();
        jQuery(this).parent().parent().parent().prev().show();
    })
    jQuery("#addnew_edu").click(function(){
        jQuery(".new_edulist").show();

    })
    jQuery(".zc_qx").click(function(){
        jQuery(".zhich_tr_new").hide();

    })
    jQuery(".jy_qx").click(function(){
        jQuery(".new_edulist").hide();

    })
    jQuery("#zhich_info").click(function(){
        jQuery(".zhich_tr_new").show();

    })
	jQuery("#zy_addnew_exp").click(function(){
		var Lc_experKind=jQuery("#Lc_experKind_zy").val();
		var Lc_unitType=jQuery("#Lc_unitType_zy").val();
		var Lc_unitName=jQuery("#Lc_unitName_zy").val();
		var Lc_beginTime=jQuery("#Lc_beginTime_zy").val();
		var Lc_endTime=jQuery("#Lc_endTime_zy").val();
		if(!trim(Lc_unitName)){
			alert("公司名称不能为空");
			return;
			
		}
		var param={Lc_experKind:Lc_experKind,Lc_unitType:Lc_unitType,Lc_unitName:Lc_unitName,Lc_beginTime:Lc_beginTime,Lc_endTime:Lc_endTime}
		jQuery.ajax({
		    url: '/addpersonexp',
		    type: 'POST',
			data: param,
		    success:function(data){
        		data = eval("(" + data + ")");
				if (data.result)
				{
					jQuery(this).next().show();
					setTimeout("jQuery('this').parent().parent().parent().hide();",200); 	
									
				}
				else
				{
				jQuery(this).next()[0].innerHTML="保存失败";
				jQuery(this).next().show();
				}
			},
			error:function(data){
				jQuery(this).next()[0].innerHTML="保存失败";
				jQuery(this).next().show();
			}
		});
	
	})
	
	//生日字段处理
	//alert(jQuery("#Lc_birthday")[0].defaultValue)
	jQuery("#Lc_birthday").attr("value", jQuery("#Lc_birthday")[0].defaultValue.split(" ")[0])
	jQuery("#Lc_birthday_label")[0].innerHTML =  jQuery("#Lc_birthday")[0].defaultValue.split(" ")[0]
	//语言字段处理
	jQuery("#Lc_language_label")[0].innerHTML = getlanguage(jQuery("#Lc_language_label")[0].innerHTML)
	
	//日期字段处理
	jQuery(".ziye_starttime").each(function(){
		var getdate=jQuery(this).attr("datavalue");
		jQuery(this).attr("value",getdate.split(" ")[0]);
	
	})
	jQuery(".ziye_endtime").each(function(){
		var getdate=jQuery(this).attr("datavalue");
		jQuery(this).attr("value",getdate.split(" ")[0]);
	
	})
	jQuery(".thestarttimes").each(function(){
		var getdate=jQuery(this).attr("data_num");
		jQuery(this)[0].innerHTML=getdate.split(" ")[0];
	
	})
	jQuery(".theendtimes").each(function(){
		var getdate=jQuery(this).attr("data_num");
		jQuery(this)[0].innerHTML=getdate.split(" ")[0];
	
	})
	
	jQuery("#savecontactbtn").click(function(){
		var param =new Object();
		param["Lc_mobilePhone1"] = jQuery("#Lc_mobilePhone1").val();
		param["Lc_qq"] = jQuery("#Lc_qq").val();
		param["Lc_weixin"] = jQuery("#Lc_weixin").val();
		param["Lc_weibo"] = jQuery("#Lc_weibo").val();
		
		jQuery.ajax({
		    url: '/updateexcontactinfo',
		    type: 'POST',
			data: param,
		    success:function(data){
        		data = eval("(" + data + ")");
				if (data.result)
				{
					jQuery("#Lc_mobilePhone1_label")[0].innerHTML = jQuery("#Lc_mobilePhone1").val();
					jQuery("#Lc_qq_label")[0].innerHTML = jQuery("#Lc_qq").val();
					jQuery("#Lc_weixin_label")[0].innerHTML = jQuery("#Lc_weixin").val();
					jQuery("#Lc_weibo_label")[0].innerHTML = jQuery("#Lc_weibo").val();
					jQuery("#savecontactbtnstatus")[0].innerHTML = "保存成功！"
					jQuery("#savecontactbtnstatus").show();
					setTimeout("jQuery('#contractinfos').click();jQuery('#savecontactbtnstatus').hide();",2000); 									
				}
				else
				{
					jQuery("#savecontactbtnstatus")[0].innerHTML = "保存失败！"
					jQuery("#savecontactbtnstatus").show();
				}
			},
			error:function(data){
				jQuery("#savecontactbtnstatus")[0].innerHTML = "保存失败！"
				jQuery("#savecontactbtnstatus").show();
			}
		});
    })
	
	//基本信息
	jQuery("#savebasebtn").click(function(){
		var param =new Object();
		param["Lc_sex"] = jQuery("input[name='sax']:checked").val();
		param["Lc_birthday"] = jQuery("#Lc_birthday").val();
		param["Lc_language"] = jQuery("#Lc_language").val();
		alert(jQuery("#Lc_language").val())
		param["Lc_introduction"] = jQuery("#Lc_introduction").val();
		
		jQuery.ajax({
		    url: '/updatebaseinfo',
		    type: 'POST',
			data: param,
		    success:function(data){
        		data = eval("(" + data + ")");
				if (data.result)
				{
					jQuery("#Lc_birthday_label")[0].innerHTML = jQuery("#Lc_birthday").val();
					jQuery("#Lc_language_label")[0].innerHTML = jQuery("#Lc_language").val();
					jQuery("#Lc_sex_label")[0].innerHTML = jQuery("input[name='sax']:checked").val();
					jQuery("#Lc_introduction_label")[0].innerHTML = jQuery("#Lc_introduction").val();
					jQuery("#savebasebtnstatus")[0].innerHTML = "保存成功！"
					jQuery("#savebasebtnstatus").show();
					setTimeout("jQuery('#main_infos').click();jQuery('#savebasebtnstatus').hide();",2000); 					
				}
				else
				{
					jQuery("#savebasebtnstatus")[0].innerHTML = "保存失败！"
					jQuery("#savebasebtnstatus").show();
				}
			},
			error:function(data){
				jQuery("#savebasebtnstatus")[0].innerHTML = "保存失败！"
				jQuery("#savebasebtnstatus").show();
			}
		});
    })
	
	
    
});

</script>


{{end}}
